body {background-color: #515151;}

h1{
    color: white;
    text-align:center;
    margin-top: 0.67em;
}

p{
    color: white;
    text-align:center;
    margin-top: 2em;
}

#frontpage{
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 2em;
}

#boton{
    float: right;
    width: 0px;
}
